@use "component";

.firstAnimation {

height: 50px;
width: 50px;
border-radius: 50%;
animation-name: circle;
animation-duration: 4s;
animation-iteration-count:infinite;
transition-timing-function: linear;
animation-direction: alternate;



}
/* make element height 50px width 50px and round)  */
/* Give it animation,  duration 4s, count infinite (dont stop), transition linear (same speed) and direction from start to end then end to start. (use keyframes name circle)  */
.text_shadow{
animation-name: shadow;
animation-duration: 5s;
animation-iteration-count:infinite;
transition-timing-function: linear;
animation-direction: alternate;


}
/* Give it animation,  duration 5s, count infinite (dont stop), transition linear (same speed) and direction from start to end then end to start. (use keyframes name shadow)  */

.button_one{
background-color: rgb(1, 18, 94);
color: white;
padding: 3em;
text-align: center;
font-size: 1em;
}
/* give button_one  background color,color,padding and text-align  */

.button_one:hover{
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;


}

/* Give it animation,  duration 1s, count 3 (stop after 3 times), transition linear (same speed). (use keyframes name rotate) .  this happens when hover over button_one  */